name: PR Checks

on:
  pull_request:
    branches:
      - main

jobs:
  pr-checks:
    runs-on: self-hosted
    permissions:
      id-token: write 
      contents: read

    steps:
      - name: Checkout repository code 
        uses: actions/checkout@v3
        
      - uses: actions/setup-node@v3
        name: setup node
        with:
          node-version: 18

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: "arn:aws:iam::256073515130:role/S3accessfotiodc"
          role-session-name: terraform-state-session
          aws-region: "eu-west-1"         
      
      - uses: hashicorp/setup-terraform@v2
        name: Setup Terraform
        with: 
          terraform_version: 1.4.6

#       - name: Install Dependencies
#         run: npm ci
          
#       - name: Test
#         run: npm run test:coverage
          
#       - name: Linting
#         run: npm run lint     

#       - name: Build
#         run: npm run build

      - name: Terraform Init
        working-directory: infrastructure
        run: terraform init

      - name: Terraform Validate
        working-directory: infrastructure
        run: terraform validate

      - name: Terraform format check
        working-directory: infrastructure
        run: terraform fmt -check

      - name: Terraform Plan
        working-directory: infrastructure
        run: terraform plan
