name: DEPLOY TO TEST
on:
  push:
    branches: 
      - main

jobs:
  deploy-to-test:
    runs-on: self-hosted
    permissions:
      id-token: write 
      contents: read

    steps:
      - name: Checkout repository code 
        uses: actions/checkout@v3
        
      - uses: actions/setup-node@v3
        name: setup node
        with:
          node-version: 18

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: "arn:aws:iam::856970428305:role/iamrolegithub"
          role-session-name: terraform-state-session
          aws-region: "eu-west-1"         
      
      - uses: hashicorp/setup-terraform@v2
        name: Setup Terraform
        with: 
          terraform_version: 1.4.6

      # - name: Install Dependencies
      #   run: npm ci
          
      # - name: Test
      #   run: npm run test:coverage
          
      # - name: Linting
      #   run: npm run lint     

      - name: zip
        working-directory: build
        run: zip index.js.zip index.js

      - name: Terraform Init
        working-directory: infrastructure
        run: terraform init

      - name: Terraform Validate
        working-directory: infrastructure
        run: terraform validate

      - name: Terraform format check
        working-directory: infrastructure
        run: terraform fmt -check

      - name: Terraform Plan
        working-directory: infrastructure
        run: terraform plan

      - name: Terraform Execute
        working-directory: infrastructure
        run: terraform apply -auto-approve
